.first-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  margin: 0%;

  padding: 0;
  border: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: #000000;
  overflow-y: scroll;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.button-size {
  width: 35%;
  height: 4rem;
  margin: 1rem 0rem;
  background-color: #49a805;
  border: 6px solid #265802;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(71, 71, 71);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-size:hover {
  background-color: #1d1d1d00;
  color: #fff;
  border: 2px solid #5acf07;
  transition: 0.2s;
}

.logo-img {
  padding-top: 4rem;
}

@media screen and (max-width: 1020px) {
  .button-size {
    font-size: 1rem;
    text-align: center;
    text-size-adjust: inherit;
  }
}
@media screen and (max-width: 800px) {
  .button-size {
    font-size: 0.9rem;
    text-align: center;
    text-size-adjust: inherit;
  }
}
@media screen and (max-width: 600px) {
  .button-size {
    width: 50%;
    height: 5rem;
    font-size: 0.8rem;
    text-align: center;
    text-size-adjust: inherit;
    font-weight: bold;
  }
  img {
    height: 2.4rem;
  }
  .kiustudios-name {
    display: none;
  }
  .logo-img {
    height: 6rem;
    padding-top: 0rem;
    margin-bottom: 2rem;
  }
}
